* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    padding-top: 40px;
    padding-left: 70px;
    background-color: #c5c2c7;
}
.user-info{
    margin: 30px;
    padding: 20px;
    padding-bottom: 40px;
    background-image: linear-gradient(to right, #ffffff, #c5c2c7);
    border-radius: 10px;
    width: 50%;
    height:800px;
}
.user-info h1 {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin: 30px 10px;
    color: red;
}
.user-info p {
    margin: 30px 10px;
    font-size: 24px;
}

.user-info button {
    display: block;
    width: 150px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 50px;
} 
